@import 'variables';

.search-form {
}

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 4px;
}

.select-all-checkbox {
    width: 160px;
    margin: 0 16px;
}
