<div class="mt-4">
    <h3>Đăng ký người dùng</h3>
    {{#if error}}
    <div class="alert alert-danger">
        {{ error}}
    </div>
    {{/if}}

    <form method="POST" action="/register">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email">
        </div>
        <div class="form-group">
            <label for="description">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Nhập password">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Đăng ký</button>
        <a href="/login" class="btn btn-secondary mt-3">Đăng nhập</a>
    </form>
</div>

